<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98565412077-agn8pc3sei8p6buhgmus8m8qv4dap1hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98565412077-agn8pc3sei8p6buhgmus8m8qv4dap1hc</string>
	<key>API_KEY</key>
	<string>AIzaSyCUfzm-XTM55mi8rex2H7-1ECimbJI_o7M</string>
	<key>GCM_SENDER_ID</key>
	<string>98565412077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ucdavis.cs.PasswordManager</string>
	<key>PROJECT_ID</key>
	<string>passwordmanager-338a8</string>
	<key>STORAGE_BUCKET</key>
	<string>passwordmanager-338a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98565412077:ios:df8cdc93cf430b910868e4</string>
	<key>DATABASE_URL</key>
	<string>https://passwordmanager-338a8.firebaseio.com</string>
</dict>
</plist>